* {
    --custom-Nutmeg: hsl(14, 45%, 36%);
    --custom-Dark-Raspberry: hsl(332, 51%, 32%);
    --custom-White: hsl(0, 0%, 100%);
    --custom-Rose-White: hsl(330, 100%, 98%);
    --custom-Eggshell: hsl(30, 54%, 90%);
    --custom-Light-Grey: hsl(30, 18%, 87%);
    --custom-Wenge-Brown: hsl(30, 10%, 34%);
    --custom-Dark-Charcoal: hsl(24, 5%, 18%);
}
@font-face {
    font-family: outfit;
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: youngserif;
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
    margin: 0;
    display: flex;
    background-color: var(--custom-Eggshell);
    justify-content: center;
    margin: 100px 0px;
    font-family: outfit;
}
main {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--custom-White);
    padding: 30px;
}
img {
    border-radius: 10px;
}
h1,h2 {
    font-family: youngserif;
    font-weight: normal;
}
h2 {
    color: var(--custom-Nutmeg);
    border-top: var(--custom-Light-Grey) 1px solid;
    padding-top: 20px;
    margin-bottom: 0px;
}
h2:first-of-type {
    border: none; /* limits the scope of the previous rule */
    margin-top: 0px;
}
h3 {
    color: var(--custom-Dark-Raspberry);
    margin-top: 0px;
}
th {
    text-align: left;
    padding-left: 30px;
    font-weight: inherit;
}

tr {
    border-bottom: 1px solid var(--custom-Light-Grey);
    height: 20px;
}
td,
bold {
    font-weight: 600;
}
td,
th {
    padding-bottom: 12px;
    padding-top: 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td{
    text-align: left;
    color: var(--custom-Nutmeg);
}
.card {
    background-color: var(--custom-Rose-White);
    padding: 20px;
    border-radius: 1%;
}
li {
    padding: 5px;
}
 ol[color] li::marker, ul[color] li::marker {
    color: var(--custom-Nutmeg);
    font-weight: 600;
}
p, li{
    color:var(--custom-Wenge-Brown);
}